main {
    display: flex;

    & > .second-menu {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        color: #FFF;

        @media screen and (max-width: 480px) {
            display: block;
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 20;
        }
    }

    aside {
        .toolbar {
            position: relative;
            z-index: 11;
            width: 250px;
            height: calc(100vh - 60px);//Dark mode #213A4A
            transition: all .3s ease;

            @media screen and (max-width: 1080px) {
                position: fixed;
                left: -100%;
            }

            .title {
                color: #fff;
                font-size: 22px;
                font-weight: 600;
                padding: 15px;
            }
            .options {
                display: flex;
                flex-direction: column;
                width: 100%;
                ul {
                    list-style: none;
                }
                li {
                    a, button{
                        display: flex;
                        color: #fff;
                        width: 100%;
                        line-height: 40px;
                        padding-left: 15px;
                        font-size: 16px;
                        &:hover {
                            background-color: #fff;
                            color: #417493;
                        }
                        &.active {
                            color: #417493;
                            background: #fff;
                        }
                    }

                    button {
                        align-items: center;
                        background: none;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    article {
        width: 100%;
        & > .pages {
            width: 100%;
            height: calc(100vh - 60px);
            padding: 25px 50px;
            overflow: auto;

            @media screen and (max-width: 480px) {
                padding: 25px 0;
            }
        }
    }
}